In [1]:
import sqlite3

# 連接到 SQLite 資料庫（如果不存在，則會自動S創建）
conn = sqlite3.connect('student.db')
cursor = conn.cursor()

# 建立名為 "students" 的表格
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        grade REAL
    )
''')

# 增加兩筆資料
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Alice', 20, 90.5)")
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Bob', 21, 85.0)")

# 提交變更
conn.commit()

# 查詢資料表中的所有資料
cursor.execute("SELECT * FROM students")
students = cursor.fetchall()

print("學生列表：")
for student in students:
    print(student)

# 將 Alice 的 grade 改為 95
cursor.execute("UPDATE students SET grade = 95.0 WHERE name = 'Alice'")
conn.commit()

# 刪除 Bob 的整筆資料
cursor.execute("DELETE FROM students WHERE name = 'Bob'")
conn.commit()

# 關閉 cursor 和連接
cursor.close()
conn.close()

學生列表：
(1, 'Alice', 20, 90.5)
(2, 'Bob', 21, 85.0)