In [2]:
import sqlite3

conn = sqlite3.connect('student.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        grade REAL
    )
''')

cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Alice', 20, 90.5)")
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Bob', 21, 85.0)")

conn.commit()

cursor.execute("SELECT * FROM students")
students = cursor.fetchall()

print("學生列表：")
for student in students:
    print(student)

cursor.execute("UPDATE students SET grade = 95.0 WHERE name = 'Alice'")
conn.commit()

cursor.execute("DELETE FROM students WHERE name = 'Bob'")
conn.commit()

cursor.close()
conn.close()

學生列表：
(1, 'Alice', 20, 95.0)
(2, 'Alice', 20, 90.5)
(3, 'Bob', 21, 85.0)