In [1]:
import sqlite3

conn = sqlite3.connect('BBQ.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS meat (
        id INTEGER PRIMARY KEY,
        name TEXT,
        price INTEGER,
        quantity INTEGER
    )
''')

cursor.execute("INSERT INTO meat (name, price, quantity) VALUES ('chicken', 30, 5)")
cursor.execute("INSERT INTO meat (name, price, quantity) VALUES ('beaf', 55, 10)")
cursor.execute("INSERT INTO meat (name, price, quantity) VALUES ('pork', 40, 15)")

conn.commit()

cursor.execute("SELECT * FROM meat")
all_meat = cursor.fetchall()
print("所有肉品資料：")
for meat in all_meat:
    print(meat)

cursor.execute("UPDATE meat SET price = 35 WHERE name = 'pork'")
cursor.execute("UPDATE meat SET quantity = 30 WHERE name = 'chicken'")
conn.commit()

cursor.execute("SELECT * FROM meat")
all_meat = cursor.fetchall()
print("\n更新後的肉品資料：")
for meat in all_meat:
    print(meat)

cursor.execute("DELETE FROM meat WHERE price = ?", (40,))
conn.commit()

cursor.execute("SELECT * FROM meat")
all_meat = cursor.fetchall()
print("\n最終的肉品資料：")
for meat in all_meat:
    print(meat)

cursor.close()
conn.close()

所有肉品資料：
(1, 'chicken', 30, 5)
(2, 'beaf', 55, 10)
(3, 'pork', 40, 15)

更新後的肉品資料：
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)
(3, 'pork', 35, 15)

最終的肉品資料：
(1, 'chicken', 30, 30)
(2, 'beaf', 55, 10)
(3, 'pork', 35, 15)